.win-button {
  color: var(--w-button-default-text);
  background-color: var(--w-button-default-bg);
  border: 2px solid transparent;
  outline-offset: -2px;
}

.win-button:hover {
  border: 2px solid var(--w-button-default-hover-border);
  outline-offset: -2px;
}

.win-button:focus-visible {
  border: 2px solid var(--w-button-default-hover-border);
  outline-offset: -2px;
}

.win-button:active {
  border: 2px solid transparent;
  outline-offset: -2px;
  background-color: var(--w-button-default-active-bg);
}
