.win-navigation-view {
  width: 600px;
  height: 400px;
  display: flex;
  background-color: white;
  position: relative;
  .navigation-space {
    width: 42px;
    height: 100%;
    background-color: transparent;
  }
  .navigation {
    width: var(--width);
    height: 100%;
    background-color: var(--w-navigationview-default-bg);
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(12px);
    transition: width 350ms cubic-bezier(0.1, 0.9, 0.2, 1);
    .items-menu {
      .navigation-item {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: left;
        padding: 0 13px;
        width: 42px;
        height: 40px;
        background-color: transparent;
        &:hover {
          background-color: var(--w-navigationview-item-default-hover-bg);
        }
      }
    }
    .items-other {
      box-sizing: border-box;
      margin: 8px 0;
      position: relative;
      .select-item-line {
        position: absolute;
        top: var(--lineTop);
        left: 2px;
        height: 24px;
        width: 2px;
        z-index: 1;
        transform: translateY(-50%);
        background-color: var(--w-navigationview-item-default-select-line);
        pointer-events: none;
        transition: top 300ms cubic-bezier(0.1, 0.9, 0.2, 1);
      }
    }
  }
  .page {
    flex: 1;
  }
}
