.win-checkbox {
  display: inline-flex;
  user-select: none;
  align-items: center;
  vertical-align: middle;
  .checkbox-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    background-color: transparent;
    border: 2px solid var(--w-checkbox-default-border);
    .icon-accept {
      opacity: 0;
    }
  }
  .win-checkbox-input {
    opacity: 0;
    pointer-events: none;
    width: 0;
  }
  &:has(.win-checkbox-input:checked) .checkbox-icon:hover {
    border: 2px solid var(--w-checkbox-default-border);
  }
  &:has(.win-checkbox-input:checked) .checkbox-icon {
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: var(--w-checkbox-default-active-bg);
    border: 2px solid var(--w-checkbox-default-active-border);
    .icon-accept {
      opacity: 1;
    }
  }
}
